%h2 人をみつける

.user-list
  - @users.each do |user|
    .user
      .profile
        = link_to user.name, user
        %br
        = user.age
      - user.items[0...3].each do |item|
        = link_to item, class: 'item-link' do
          .user-item-image
            .image-wrapper
              - unless item.photos.empty?
                = image_tag thumbnail_path(item)
              - else
                %span No Image
      .clear

