%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Age
      %th Items
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.age
        %td
          - user.items[0...8].each do |item|
            .user-item-image
              = link_to item, class: 'item-link' do
                = image_tag image_path(item)
          .clear

