<!--h1>Welcome to Omoto-Friends</h1-->
<link rel="stylesheet" href="assets/modal.css" />
<style>
#top-menu {
/*  display: none; */
}
article.main-contents {
  background-image: none;
}
.top-image {
  max-height: 250px;
  width: 600px;
  margin: 150px auto auto auto;
  overflow: hidden;
}
.top-image img {
  position: absolute;
/*  clip: rect(175px 600px 425px 0px);
  height: 600px;
  width: 600px; */
}
</style>

<div class="top-image">
  <img src="images/san_omoto.jpg" /> <!--width="600" height="600"/-->
</div>

