.tmp-image {
  max-width: 450px;
  max-height: 450px;
}
.item-image {
  width: 130px;
  height: 130px;
  margin: 0 5px;
  text-align: center;
}
.item-image img {
  max-width: 130px;
  max-height: 130px;
}
.list-item {
  float: left;
  width: 150px;
  height: 190px;
  border: solid 1px #ddd;
  margin: 3px;
  padding: 5px;
}
.list-item a.item-link:hover {
  color: #0000ff;
}
.item.owner {
}
.functions {
  margin-top: -17px;
  float: right;
}

.item-view .image-pane {
  float: left;
  margin: 10px;
  width: 550px;
  height: 500px;
/*  border-right: solid 2px #ccc; */
  padding: 10px;
  text-align: center;
  background-color: #eec;
}
.item-view .info-pane {
  float: left;
  margin: 10px;
  width: 380px;
  font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
  .item-view .info-pane {
    width: 100%;
  }
}
.item-view .field.edit {
  text-align: right;
}
.item-view .field.edit a {
  margin: 0 10px;
}
.item-view .field.title {
  margin: 20px 0;
}
.item-view .title .field-value {
  font-size: 1.5em;
}
.field-value {
  font-size: 1.1em;
}
.desc-text {
  font-size: 0.9em;
}
